<div style="position: absolute; overflow: hidden; width: 100%; height: 100%">
  <div id="toolbarContainer" style="overflow: hidden; position: absolute;
  width: 7%; height: 100%; color: whitesmoke;"></div>
  <div id="outLineContainer"
       style="z-index:1;position:absolute;overflow:hidden;top:0px;right:0px;width:160px;height:120px;background:transparent;border-style:solid;border-color:lightgray;">
  </div>
  <div id="graphContainer"
       style="position: absolute; overflow: hidden; left: 7%;width:93%;height:100%;background:url('../../assets/grid.gif')">
  </div>
</div>
