<mat-card>
  <mat-card-title style="margin-bottom: 5%">Sign In</mat-card-title>
  <mat-card-content style="height: 20vh;">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input autocomplete="off" type="text" matInput placeholder="Username" [(ngModel)]="username" formControlName="username">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input autocomplete="off" type="password" matInput placeholder="Password" [(ngModel)]="password" formControlName="password">
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-button>Sign In</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
