<!-- Hero Section -->
<section class="hero" id="hero">
  <h2 class="hero_header">Diagra <span class="light">Account</span></h2>
</section>
<!-- About Section -->
<section class="about" id="about">
  <img style="width: 20vw; position:absolute;" src="assets/account.png" alt="{{userName}}">
  <div class="main">
    <h3 style="font-size: 18px;"> Main Account </h3>
    <mat-form-field [formGroup]="mainForm" class="form">
      <mat-label>User name</mat-label>
      <input matInput placeholder="User name" [(ngModel)]="userName" value="{{userName}}" formControlName="username"/>
    </mat-form-field>
    <mat-form-field [formGroup]="mainForm" class="form">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" [(ngModel)]="email" value="{{email}}" formControlName="email"/>
    </mat-form-field>
    <mat-form-field [formGroup]="mainForm" class="form">
      <mat-label>Password</mat-label>
      <input type="password" matInput [(ngModel)]="password" placeholder="Password" formControlName="password"/>
    </mat-form-field>
    <mat-form-field [formGroup]="mainForm" class="form">
      <mat-label>Confirm password</mat-label>
      <input type="password" matInput [(ngModel)]="confirmPassword" placeholder="Confirm password" formControlName="password"/>
    </mat-form-field>
    <button mat-button color="primary" class="sub_button" (click)="save()">Save</button>
    <button mat-button color="warn" class="sub_button" (click)="delete()">Delete</button>
  </div>
</section>

<!-- Copyrights Section -->
<div class="copyright">&copy;2020- <strong>Diagra application</strong></div>
